<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jdoleiv">John</a>. One man, on a mission to acquire fundamental programming and software engineering skills.
  </p>
  <br />
  <p>
    On his own he learned some basic Python and R programming skills, but has joined Firehose in order to build a solid programming foundation which he can take in whichever way he chooses.
  </p>
  <p>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'jd.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">John A. Dole IV</h2>
    <br />
    <p>
    John is a commodities trader who became interested in coding after working on his own to develope a trading system in the R language.
    </p>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />